asgiref==3.7.2
beautifulsoup4==4.12.3
blinker==1.8.2
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
crispy-bootstrap4==2023.1
dj-database-url==2.2.0
Django==4.2.14
django-bootstrap-v5==1.0.11
django-crispy-forms==2.1
django-forms-bootstrap==3.1.0
django-qrcode==0.3
docutils==0.20.1
Flask==3.0.3
idna==3.6
itsdangerous==2.2.0
Jinja2==3.1.4
Kivy==2.3.0
kivy-deps.angle==0.4.0
kivy-deps.glew==0.3.1
kivy-deps.gstreamer==0.3.3
kivy-deps.sdl2==0.7.0
Kivy-Garden==0.1.5
MarkupSafe==2.1.5
pillow==10.2.0
psycopg2==2.9.9
Pygments==2.17.2
pypiwin32==223
pypng==0.20220715.0
pywin32==306
qrcode==7.4.2
requests==2.31.0
soupsieve==2.5
sqlparse==0.4.4
sweetify==2.3.1
typing_extensions==4.9.0
tzdata==2024.1
urllib3==2.2.1
Werkzeug==3.0.3
